/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: none;
    width: 4px
}

::-webkit-scrollbar-thumb {
    background-color: #f39c12;
    border-radius: 10PX
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

.cl {
    clear: both;
}

.row {
    margin: 0;
    padding: 0
}

.col-md-4 {
    margin: 0;
    padding: 0;
}

/*start loading*/
.animation {
    position: fixed;
    background-color: #212121;
    width: 100%;
    height: 100%;
    z-index: 100000000;
}

.parent {
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    position: fixed;
    margin-left: -30px;
}

.parent span {
    width: 18px;
    height: 18px;
    background-color: #f39c12;
    border-radius: 50%;
    position: absolute;
    animation-name: box;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.parent span:nth-child(1) {
    top: 0;
    left: 0;
    animation-delay: 0s;
}

.parent span:nth-child(2) {
    top: 0;
    left: 20px;
    animation-delay: 0.2s;

}

.parent span:nth-child(3) {
    top: 0;
    left: 40px;
    animation-delay: 0.4s;

}

.parent span:nth-child(4) {
    top: 20px;
    left: 0;
    animation-delay: 0.6s;

}

.parent span:nth-child(5) {
    top: 20px;
    left: 20px;
    animation-delay: 0.8s;

}

.parent span:nth-child(6) {
    top: 20px;
    left: 40px;
    animation-delay: 0.10s;

}

.parent span:nth-child(7) {
    top: 40px;
    left: 0;
    animation-delay: 0.14s;

}

.parent span:nth-child(8) {
    top: 40px;
    left: 20px;
    animation-delay: 0.16s;

}

.parent span:nth-child(9) {
    top: 40px;
    left: 40px;
    animation-delay: 0s;

}

@keyframes box {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }

}

/*end loading*/

/* start nav */

nav {
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    padding: 25px 0;
    /* border-bottom: 1px solid #dcdcdc38;*/
}

.resize {
    width: 85%;
    margin: auto
}

nav .logo {
    float: left;
    margin-top: 21px;
}

nav .logo img {
    width: 160px;
    margin-top: 10px;
}

nav .menu {
    float: right;
}

nav .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 50px;
    padding: 20px 0;
}

nav .menu ul li {
    float: left;
    position: relative;
    margin-right: 20px;
}

nav .menu ul li:last-of-type {
    margin-right: 0px;
}

nav .menu ul li a {

    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 30px 0px;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    outline: 0;
}

nav .menu ul li:first-of-type a {
    color: #f39c12 !important;
}

nav .menu ul li:hover a span {
    position: absolute;
    bottom: 15px;
    left: 0;
    animation: widt 0.5s ease-in-out forwards;
    height: 4px;
    background: #f39c12 !important;

    border-radius: 10px;
}

nav .menu ul li:hover a {
    color: #f39c12 !important;
    transition: all 0.5s ease-in-out
}

nav .menu ul li:first-of-type a span {
    width: 100%;
    height: 4px;
    background: #f39c12 !important;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 0;
}

@keyframes widt {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/*@media (max-width: 768px) { 
    nav{
        padding: 0;
    }
    nav .menu{
        display: none
    }
    .resize{
        width: 95%
    }
    nav .logo img{
        width: 105px;
    margin-top: 0;
    }

}

/* end nav */

/* start first article */
article:first-of-type {
    width: 100%;
    background-image: url(../images/1unsplash.jpg);
    background-size: cover;
    background-position: top;
}

article:first-of-type .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    flex-direction: column
}

article:first-of-type .overlay section {
    color: #fff;
    width: 70%;
    margin-top: 60px;
}

article:first-of-type .overlay section p:first-of-type {
    color: #f39c12;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;

}

article:first-of-type .overlay section h1 {
    font-size: 70px;
    margin: 0;
    padding: 0;
    margin: 12px 0;
}

article:first-of-type .overlay section p:nth-of-type(2) {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
}

article:first-of-type .overlay section button {
    border: none;
    outline: 0;
    margin-top: 20px;
    width: 180px;
    height: 50px;
    background: none;
    color: #fff;
    text-transform: capitalize;
    border-radius: 20px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 17px
}

article:first-of-type .overlay section button:hover {
    transition: all 0.5s ease-in-out
}

article:first-of-type .overlay section button:first-of-type {
    background-color: #f39c12;
}

article:first-of-type .overlay section button:first-of-type:hover {
    background: none;
    border: 2px solid #f39c12;
    color: #f39c12;
}

article:first-of-type .overlay section button:nth-of-type(2) {
    border: 2px solid #fff
}

article:first-of-type .overlay section button:nth-of-type(2):hover {
    background: #f39c12;
    border: #f39c12;
    color: #fff;
}

/*
article:first-of-type .overlay div:nth-of-type(2) {
    margin: 0;
    color: blanchedalmond;
    text-align: center;
    width: 87%;
    opacity: 0;
    position: relative;
    top: -40px;
    animation-name: updown;
    animation-duration: 2s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    cursor: pointer;
}

article:first-of-type .overlay div:nth-of-type(2) span:first-of-type {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

article:first-of-type .overlay div:nth-of-type(2)  span:nth-of-type(2) {
    display: inline-block;
    transform: rotate(90deg);
    font-family: monospace;
    font-weight: bolder;
    font-size: 36px;
}

@keyframes updown {
    50% {
        top: -8px;
        opacity: 1;

    }

    100% {
        top: -40;
    }
}

/*@media (max-width: 576px) { 
    article:first-of-type{
        text-align: center
    }
    article:first-of-type .overlay section{
        width: 100%
    }
    article:first-of-type .overlay section p:first-of-type{
       font-size: 17px;
    }
    article:first-of-type .overlay section h1{
        font-size: 40px;
        margin: 20px 0;
    }article:first-of-type .overlay section p:nth-of-type(2){
    display: none
    }
}

@media (max-width:769px) and (min-width:992px) {
    article:first-of-type .overlay section p:nth-of-type(2){
    font-size: 21px;
    width: 82%;
    }
 }

/* end first article */
/* start about us */
.about-us {
    padding: 25px 0 0;

}

.about-us .row .col-md-12:first-of-type {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.about-us .row .col-md-12:first-of-type h1 {
    font-family: 'Oswald', sans-serif;
    color: #7a7a7a;
    position: relative
}

.about-us .row .col-md-12:first-of-type span {
    position: absolute;
    width: 104px;
    margin-left: calc(50% - 52px);
    bottom: -14px;
    height: 5px;
    border-radius: 181px;
    left: 0;
    background-color: #7a7a7a;
}

.about-us .row .col-md-6:first-of-type {
    font-family: 'Work Sans', sans-serif;
    margin: 40px 0;
}

.about-us .row .col-md-6:first-of-type p:first-of-type {
    font-size: 20px;
}

.about-us .row .col-md-6:first-of-type div.row {
    margin: 20px 0;
}

.about-us .row .col-md-6:first-of-type div.row .col-md-2 {
    margin: 0;
    padding: 0;
    max-width: 12.666667%;
}

.about-us .row .col-md-6:first-of-type div.row .col-md-2 i {
    color: #fff;
    font-size: 16px;
    background: #f39c12;
    padding: 14px;
    border-radius: 33%;
}

.about-us .row .col-md-6:first-of-type div.row .col-sm-10 {
    padding: 0;
    margin: 0;
    font-size: 17px;

}

.about-us .row .col-md-6:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center
}

.about-us .row .col-md-6:nth-of-type(2) img {
    border-radius: 10px;
    width: 95%;
    -webkit-box-shadow: 25px -25px 0px -6px rgba(243, 156, 18, 1);
    -moz-box-shadow: 25px -25px 0px -6px rgba(243, 156, 18, 1);
    box-shadow: 25px -25px 0px -6px rgba(243, 156, 18, 1);
}

/*end about us*/

/*start our */
.our {
    background-image: url("../images/6.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.our .overlay {
    padding: 50px 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.our .overlay .container .row .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efefef
}

.our .overlay .container .row .col-md-6 div {
    padding: 25px;
    text-align: center;
    width: 80%;
    border: 2px solid #f39c12;
    border-radius: 20px;
    cursor: pointer;
}

.our .overlay .container .row .col-md-6 div i {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;
    color: #f39c12;
}

.our .overlay .container .row .col-md-6 div h6 {
    font-size: 45px;
    margin-bottom: 20px;
}

.our .overlay .container .row .col-md-6 div p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

.our .overlay .container .row .col-md-6 div:hover {
    background-color: rgba(243, 156, 18, 0.7) !important;
    /*border-color: #fff;*/
    transition: all 0.3s ease-in-out
}

.our .overlay .container .row .col-md-6 div:hover i {
    color: #fff !important;
}

/*end our*/

/*start values*/
.values {
    padding: 25px 0;
}

.values .row .col-md-12:first-of-type {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.values .row .col-md-12:first-of-type h1 {
    font-family: 'Oswald', sans-serif;
    color: #7a7a7a;
    position: relative
}

.values .row .col-md-12:first-of-type span {
    position: absolute;
    width: 104px;
    margin-left: calc(50% - 52px);
    bottom: -14px;
    height: 5px;
    border-radius: 181px;
    background-color: #7a7a7a;
    left: 0;
}

.values .row .col-md-6:first-of-type {
    display: flex;
    align-items: center;

}

.values .row .col-md-6:first-of-type img {
    border-radius: 10px;
    width: 95%;
    -webkit-box-shadow: -25px -25px 0px -6px rgba(243, 156, 18, 1);
    -moz-box-shadow: -25px -25px 0px -6px rgba(243, 156, 18, 1);
    box-shadow: -25px -25px 0px -6px rgba(243, 156, 18, 1);
}

.values .row .col-md-6:nth-of-type(2) {
    margin: 40px 0;
}

.values .row .col-md-6:nth-of-type(2) .accordion .check {
    display: none;
}

.values .row .col-md-6:nth-of-type(2) .accordion header {
    background-color: #efefef;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Work Sans', sans-serif;
}

.values .row .col-md-6:nth-of-type(2) .accordion header:hover {
    background-color: rgba(243, 156, 18, 1);
    color: #fff;
}

.values .row .col-md-6:nth-of-type(2) .accordion header i {
    font-size: 14px;
    display: block;
    padding-top: 5px;
    margin-right: 10px;
    float: right;
}

.values .row .col-md-6:nth-of-type(2) .accordion p {
    font-family: 'Work Sans', sans-serif;
    padding-left: 8px;
    font-size: 17px;
}

/*end values */

/*start services*/
.services {
    background-image: url("../images/annie-spratt-hCb3lIB8L8E-unsplash.jpg");
    /*background-attachment: fixed;*/
    background-size: cover;
    background-position: center
}

.services .overlay {
    padding: 20px 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: #fff
}

.services .overlay .row .col-md-12:first-of-type h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    position: relative
}

.services .overlay .row .col-md-12:first-of-type span {
    position: absolute;
    width: 104px;
    margin-left: calc(50% - 52px);
    bottom: -14px;
    height: 5px;
    left: 0;
    border-radius: 181px;
    background-color: #f39c12;
}

.services .overlay .row .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.services .overlay .row .col-md-4 div div {
    border: 1px solid #f39c12;
    width: 60px;
    height: 60px;
    margin: auto;
    transform: rotate(45deg);
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center
}

.services .overlay .row .col-md-4 div i {
    display: block;
    transform: rotate(-45deg);
    font-size: 22px;
    color: #f39c12
}

.services .overlay .row .col-md-4 h6 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px
}

.services .overlay .row .col-md-4 div:hover {
    cursor: pointer;
}

.services .overlay .row .col-md-4 div:hover div {
    background-color: rgba(243, 156, 18, 0.7);
    transition: all 0.3 ease-in-out
}

.services .overlay .row .col-md-4 div:hover i {
    color: #fff;
    transition: all 0.3 ease-in-out
}

/* end services*/

/*start portfolio*/

.portfolio {
    padding: 25px 0;
}

.portfolio .row .col-md-12:first-of-type {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.portfolio .row .col-md-12:first-of-type h1 {
    font-family: 'Oswald', sans-serif;
    color: #7a7a7a;
    position: relative
}

.portfolio .row .col-md-12:first-of-type span {
    position: absolute;
    width: 104px;
    margin-left: calc(50% - 52px);
    bottom: -14px;
    height: 5px;
    border-radius: 181px;
    background-color: #7a7a7a;
    left: 0;
}

.portfolio .links {
    margin-top: 40px;
}

.portfolio .links button {
    background: none;
    border: none;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    color: #272727;
    outline: 0;
    padding: 0
}

.portfolio .links button:first-of-type {
    color: #f39c12
}

.portfolio .links button:hover {
    color: #f39c12
}

.portfolio .fillter {
    margin-top: 30px;
}

.portfolio .fillter .col-md-4 {
    margin-bottom: 30px;
    transition: all 1s ease-in-out;

}

.fillter img {
    width: 100%;
    cursor: pointer;
}

.portfolio .fillter .col-md-4 div {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .fillter .col-md-4 div div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000c7;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.portfolio .fillter .col-md-4 div:hover div {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.portfolio .fillter .col-md-4:hover div div section:first-of-type {
    text-align: center
}

.portfolio .fillter .col-md-4:hover div div i {
    font-size: 20px;
    padding: 18px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #f39c12;
    color: #efefef;
    margin-right: 10px
}

.portfolio .fillter .col-md-4:hover div div i:hover {
    background-color: rgba(243, 156, 18, 0.7);

}

.portfolio .fillter .col-md-4:hover div div section:nth-of-type(2) {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #efefef
}

.portfolio .fillter .col-md-4:hover div div section:nth-of-type(2) h6 {
    font-weight: bold;
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;

}

.portfolio .fillter .col-md-4:hover div div section:nth-of-type(2) p {
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;
    color: #f39c12;

}


/*end portfolio*/

/* start testimonials */
.testimonial {
    background-image: url("../images/annie-spratt-hCb3lIB8L8E-unsplash.jpg");
    /*background-attachment: fixed;*/
    background-size: cover;
    background-position: center;
}

.testimonial .overlay {
    padding: 20px 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: #fff
}

.testimonial .overlay .row .col-md-12:first-of-type h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    position: relative
}

.testimonial .overlay .row .col-md-12:first-of-type span {
    position: absolute;
    width: 104px;
    margin-left: calc(50% - 52px);
    bottom: -14px;
    height: 5px;
    left: 0;
    border-radius: 181px;
    background-color: #f39c12;
}

.testimonial .all-sections {
    margin-top: 40px;
}

.testimonial .all-sections section {
    background-color: #fff;
    color: #f39c12;
    margin-bottom: 167px;
    position: relative;
    padding: 20px;
    border-top-left-radius: 80px;
}

.testimonial .all-sections section::before,
.testimonial .all-sections section::after {
    content: "";
    border-top: 40px solid #fff;
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0
}

.testimonial .all-sections section::after {
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}

.testimonial .all-sections section i {
    display: inline-block;
    font-size: 55px;
    color: rgba(243, 156, 18, 0.7);
    margin-bottom: 20px;

}

.testimonial .all-sections section p {
    font-size: 17px;
    color: #3a3a3a;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Work Sans', sans-serif;
    line-height: 2
}

.testimonial .all-sections section .informations {
    position: absolute;
    left: 0;
    width: 100%
}

.testimonial .all-sections section .informations .im {
    display: inline-block;
    border: 6px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 120px;
    box-shadow: 0 0 2px 2px #f39c12;
    top: -22px;
}

.testimonial .all-sections section .informations img {
    width: 100%;
    height: auto;
}

.testimonial .all-sections section .informations h3 {
    color: #fff;
    margin: 0;
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;
}

/* end testimonials */
.count {
    padding: 30px 0;

}

.feat {
    text-align: center
}

.feat i {
    font-size: 50px;
    color: #f39c12;
    margin-bottom: 20px;
    display: inline-block;

}

.feat p:first-of-type {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}

.feat p:nth-of-type(2) {
    color: gray;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}

/*start footer*/

footer {
    background: #0f0e0e;
    padding: 20px 0;
    color: #efefef
}

footer .row .col-md-6:first-of-type img {
    width: 160px;
}

footer .row .col-md-6:first-of-type .info {
    margin-top: 50px;
    padding-left: 10px;
}

footer .row .col-md-6:first-of-type .info h3 {
    margin-bottom: 20px;
}

footer .row .col-md-6:first-of-type .info i {
    display: inline-block;
    float: left;
    color: #f39c12;
    font-size: 22px;
    margin-top: 15px;
}

footer .row .col-md-6:first-of-type .info ul {

    list-style: none
}

footer .row .col-md-6:first-of-type .info ul li {
    padding: 10px 0;
    margin: 5px 0;
    font-size: 20px;
}

/*end footer*/